# .gitignore
*.tif
*.pkl
data/
results/
jobs/log_files/
notebooks/jupyter_notebooks/rf_models/
ondemand/
ondemand-faster/
PIP_CACHE/
*.job
*.shp
*.dbf
*.shx
__pycache__/
.env
*.ipynb
.ipynb_checkpoints/