# .gitignore
*.tif
*.pkl
data/auxiliary/jrc_data/*
data/auxiliary/srtm_data/*
data/cluster/*
data/L30/*
data/max_rasters/*
data/models/*
data/raw/
data/S30/*
jobs/log_files/

PIP_CACHE/
__pycache__/
.env

.ipynb_checkpoints/
